@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.progress-bar {
  width: 50%;
  height: 10px;
  border-radius: 20px;
  /* background: #f3f3f3; */
}
.progress-bar::-webkit-progress-bar {
  border-radius: 10px;
  background: #f3f3f3;
}
.progress-bar::-webkit-progress-value {
  border-radius: 10px;
  background: #650183;
}
.progress-bar::-moz-progress-bar {
  border-radius: 10px;
  background: #650183;
}
